/* Again edited by James Hudson */
// Alerts

// James Hudson: Updated to work with SASS
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    //border-top-color: darken($border, 5%); TODO Get working
  }
  .alert-link {
    //color: darken($text-color, 10%); TODO Get working
  }
}
