/* Again edited by James Hudson */
// Center-align a block level element

//James Hudson: Updated to work with SASS
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
