/* Again edited by James Hudson */
// List Groups

// James Hudson: Updated to work with SASS
@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    a& {
      color: $color;

      .list-group-item-heading {
        color: inherit;
      }

      &:hover,
      &:focus {
        color: $color;
        //background-color: darken($background, 5%); TODO Get working
      }
      &.active,
      &.active:hover,
      &.active:focus {
        color: #fff;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
