/* Again edited by James Hudson */
// Responsive utilities

//
// More easily include all the states for responsive-utilities.scss.
@mixin responsive-visibility() {
  display: block !important;
  table&  { display: table; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

// James Hudson: Updated mixin to work with SASS.
@mixin responsive-invisibility() {
  display: none !important;
}
